@model Order


<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">@Model.Date</h5>
    <p class="card-text">@Model.User.Email</p>
    <p class="card-text">@Model.User.FullName</p>
   
  </div>
  <div class="card-footer text-muted">
   
  </div>
</div>